[submodule "md4c"]
	path = ThirdParty/md4c
	url = https://github.com/mity/md4c
[submodule "svgpp"]
	path = ThirdParty/svgpp
	url = https://github.com/svgpp/svgpp
[submodule "ThirdParty/dagbase"]
	path = ThirdParty/dagbase
	url = https://github.com/triblatron/dagbase
