[submodule "md4c"]
	path = ThirdParty/md4c
	url = https://github.com/mity/md4c
[submodule "svgpp"]
	path = ThirdParty/svgpp
	url = https://github.com/svgpp/svgpp
[submodule "ThirdParty/dag"]
	path = ThirdParty/dag
	url = github:/triblatron/dag
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/imnodes"]
	path = ThirdParty/imnodes
	url = https://github.com/Nelarius/imnodes.git
